<!DOCTYPE html>
<html lang="{{ page.lang }}">


  {% include head.html %}

  <body data-rsssl=1 class="home page-template-default page page-id-30 tm-isblog wp-front_page wp-page wp-page-30 tm-article-blog cookies-not-set woocommerce-no-js tribe-no-js">
    {% include nav.html %}
    
    {% include header.html %}

    <div class="uk-container uk-container-center">
      <section class="tm-top-c uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
        <div class="uk-width-1-1 uk-width-medium-1-1 uk-row-first"><div class="uk-panel uk-panel-box widget_text">
          <div id="wk-gridb97" class="uk-grid-width-1-1 uk-grid-width-small-1-1 uk-grid-width-medium-1-1 uk-grid-width-large-1-2 uk-grid-width-xlarge-1-2 uk-grid uk-grid-match uk-text-left aktuality" data-uk-grid-match="{target:'> div > .uk-panel', row:true}" data-uk-grid-margin="">
            {{ content }}
          </div>
        </div>
      </section>
    </div>
    
    {% include footer.html %}
  
  </body>
  

</html>


